@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-image: url("imagens/ground");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
    .perfil {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}

.cabecalho {
    background: linear-gradient(45deg, #600e9e 40%, #9557c4 60%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 34px;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #600e9e;
}

.ajusteMenu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.linksNavegacao {
    color: beige;
    width: 80%;
    background: rgba(0, 0, 0, 0.6);
    margin: 10px;
    padding: 14px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    text-align: center;
    text-transform: uppercase;
}

.linksNavegacao a {
    text-decoration: none;
    color: beige;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 20px;
}

.foto {
    height: 250px;
    border-radius: 500px;
    box-shadow: 3px 3px 3px #9557c4;
}

.perfil {
    color: beige;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.ajustePerfil {
    display: flex;
    justify-content: space-around;
}

.alinhamentoNomeFoto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo {
    background: rgb(203, 154, 220);
    box-shadow: 3px 3px 3px #600e9e;
    padding: 20px;
    border-radius: 10px;
}

.redesSociais {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.iconesRedes {
    height: 50px;
}

.descricao {
    color: beige;
    display: block;
    margin: 10px;
    text-align: center;
}

.formatGeral {
    margin: 34px;
}

li {
    list-style-type: none;
}

.formatGeral h2 {
    color: bisque;
    text-transform: uppercase;
}

.formatGeral section {
    color: beige;
    background: #9557c4;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #600e9e;
}

.posicaoVoltar {
    display: flex;
    justify-content: end;
}


.copyR {
    text-align: center;
}