@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-image: url("imagens/ground");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    ;
}

.cabecalho {
    background: linear-gradient(45deg, #600e9e 40%, #9557c4 60%);
    display: block;
    align-items: center;
    margin: 34px;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #600e9e;
}

.foto {
    height: 250px;
    border-radius: 500px;
    box-shadow: 3px 3px 3px #9557c4;
}

.titulo {
    background: rgb(203, 154, 220);
    box-shadow: 3px 3px 3px #600e9e;
    margin-left: 200px;
    padding: 20px;
    border-radius: 10px;
}

.redesSociais {
    display: flex;
    justify-content: flex-end;
    margin: 0px;

}

.iconesRedes {
    height: 50px;
}

.perfil {
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao {
    color: beige;
    display: block;
    margin: 10px;
    text-align: center;
}

.formatGeral {
    margin: 34px;
}

li {
    list-style-type: none;
}

.formatGeral section {
    background: #9557c4;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #600e9e;
}

.posicaoVoltar {
    display: flex;
    justify-content: end;
}

.linksNavegacao nav {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    padding: 14px 30px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

.linksNavegacao a {
    text-decoration: none;
    color: beige;
}

.copyR {
    text-align: center;
}