@media all and (max-width: 800px) {
    header {
        flex-direction: column;
        justify-items: center;
    }
    main {
        flex-direction: column;
        /* align-items: center; */
    }
    header ul {
        margin: 0;
        padding: 0;
    }
    header ul li {
        display: block;
        text-align: center;
        padding: 0 auto;
    }
    h1{
        text-align: center;
    }
    main aside h2 {
        font-size: 38px;
        text-align: center;
        line-height: 1;
        margin: 5px;
    }
    main form {
        margin: 0 auto;
    }
    main article img {
        margin-top: 30px;
        width: 100%;
        justify-self: center;
    }
    main aside p{
        text-align: justify;
    }
}