@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Rubik+Glitch&family=Rubik+Microbe&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("background2.png");
    background-position: center center;
    background-size: contain;
    background-repeat: repeat;
}

nav li {
    list-style-type: none;
    padding: 0px 5px 0px 5px;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: large;
}
 nav a:hover {
    color: darkred;
 }

.alinhamentoLinks {
    display: flex;
    justify-content: space-around;
    
}

.displayXicara {
    display: block;

}

.menuPrincipal {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

header {
    background-image: url(backgroundHeader.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    padding: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}

header h1,
h2 {
    margin: 0;
    font-family: 'Rubik Microbe', cursive;
}

header h1 {
    font-size: 50px;
    display: flex;
    align-items: center;
    padding: 0;
}

header h2 {
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
}

header h3 {
    font-family: 'Roboto', sans-serif;
    /* font-size: 24px; */
    text-align: justify;
    padding: 10px;

}

.headingPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    
}

.cabecalho1 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: black;
    background-color: rgba(165, 42, 42, 0.6);
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.cabecalho2 {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    color: black;
    background-color: rgba(165, 42, 42, 0.6);
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.cabecalho1 img {
    margin: 5px;
}

.cabecalho3 {
    margin: 50px 0 0 0;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 3px 3px 3px rgba(165, 42, 42, 0.6);
    border: 1px solid rgba(165, 42, 42, 0.6);
    color: antiquewhite;
    
}

@media all and (max-width: 600px) {
    .cabecalho1 {
        width: 100%;
    }

    .headingPrincipal {
        width: 100%;
    }

    .displayXicara {
        display: none;
    }

    .menuPrincipal {
        justify-content: flex-start;
    }

    .alinhamentoLinks {
        flex-direction: column;
    }
    
}